.registration-cssave {
  padding: 20px 0;
}

.registration-cssave form {
  width: 100%;
}

.registration-cssave form h3 {
  font-weight: bold;
  margin-bottom: 30px;
}

.registration-cssave .item {
  border-radius: 10px;
  margin-bottom: 25px;
  padding: 10px 20px;
}

.registration-cssave .create-account {
  border-radius: 30px;
  padding: 10px 60px;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
  border: none;
  outline: none;
  color: #fff;
  margin-top: 20px;
}
.form-group {
  display: flex;
  justify-content: center;
}
.form-group input {
  width: 90%;
}
.loginForm{
  color:black !important;
  cursor: pointer;
}
@media (max-width: 576px) {
  .registration-cssave form {
    padding: 50px 20px;
  }
}
